nav{
    position: fixed;
    width: 100%;
    z-index: 1;
}

ul{
    list-style-type: none;
}


  
.nested {
    display: none;
}
  
.active {
    display: block;
}





/**************top bar nav**************/


.nav-top-bar{
    background-color: #003552;
    width: 100%;
    height: var(60px);
    display:flex;
    justify-content: space-between;
}

.nav-top-bar > *{
    float: left;
}
  
#searchOptions li a {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}
  
#searchOptions li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}

.hamburger{
    width:40px;
    height: 40px;
    align-content: center;
    margin: 10px;
    border-radius: 12px;
    margin-left: 40px;
}

.hamburger > div{ /* from w3schools' page for hamburger menus */
    width: 26px;
    height: 4px;
    background-color: #CACAC6;
    margin: 7px 7px;
    border-radius: 2px;
}

.hamburger:hover{
    transform: scale(1.05);
    background-color: #00273d;
}

.hamburger:active{
    transform: scale(0.99);
}

.search-input{
    margin: 15px;
    height: 30px;
    width: 40%;
    border:none;
    border-radius:5px;
}

.small-logo{
    width: 40px;
    height: 40px;
    margin: 10px;
    margin-right: 40px;
}




/*************slide menu**************/
.slide-menu{
    position:absolute;
    background-color: #AFDAF5;
    width: 400px;
    height: 100vh;
    left: -420px;
    transition: 0.4s;
    box-shadow: 4px 4px 8px #6b6b6b;
}

.slide-menu.active{
    left: 0px;
}

.grey-out{
    display:none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}

.grey-out.active{
    display:block;
}

#topic-list {
    overflow-y: auto;
    height:80%;
}

.home-link{
    width:100%;
    text-align: center;
}


/*************slide menu indexs**************/

ul.nested>li>a{
    display: block;
    padding:10px;
}
ul.nested>li>a:hover{
    transition: 0.3s;
}

.arrow {
    transition: 0.3s;
    cursor: pointer;
    user-select: none;
    display: inline-block;
    padding: 10px;
}
  
.arrow::before {
    transition: 0.1s;
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.arrow:hover{
    transform: translate(4px,0);
}
  
.arrow-down::before {
    transform: rotate(90deg);  
}



/*************General Link stuffs**************/

.anchor {
    position: absolute;
    transform: translateY(-100px);
}

.anchor:target + div{
    animation: wobble 2s;
}


/*************Animations**************/

@keyframes wobble {
    0%{transform: scale(1.00);}
    50%{transform: scale(1.10);}
    100%{transform: scale(1.00);}
}

/*************Media**************/


@media (max-width: 700px) {    
    .slide-menu{
        width:100%;
        left: -110%;
    }
}