*{
    font-family: "Helvetica";
}

body{
    margin: 0px;
}

table, th, td{
    border:1px solid black;
}
table{
    border-collapse:collapse; 
    width:100%; 
    
}

html {
    scroll-behavior: smooth;
}

.content{
    text-align: center;
    clear: both;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 60px;
    margin-bottom: 60px;
}


.hamburger{
    width:40px;
    height: 40px;
    align-content: center;
    margin: 10px;
    border-radius: 12px;
}

.hamburger:active{
    transform: scale(0.99);
}

.hamburger > div{ /* from w3schools' page for hamburger menus */
    width: 26px;
    height: 4px;
    background-color: #CACAC6;
    margin: 7px 7px;
    border-radius: 2px;
}

.hamburger:hover{
    transform: scale(1.05);
    background-color: #00273d;
}

.hamburger:active{
    transform: scale(0.99);
}

.hamburger > div{ /* based on w3schools' page for hamburger menus */
    width: 26px;
    height: 4px;
    background-color: #CACAC6;
    margin: 7px;
    border-radius: 2px;
}


.nav-top-bar > *{
    float: left;
}

.nav-top-bar{
    background-color: #003552;
    width: 100%;
    height: 60px;
    display:flex;
    justify-content: space-evenly;
}

.topic-list{
    position:absolute;
    background-color: #AFDAF5;
    width: 400px;
    height: 100vh;
    left: -420px;
    transition: 0.4s;
    box-shadow: 4px 4px 8px #6b6b6b;
}

.topic-list.active{
    left: 0px;
}

.search-input{
    margin: 15px;
    height: 30px;
    width: 40%;
    border:none;
    border-radius:5px;
}

nav{
    position: fixed;
    width: 100%;
    z-index: 1;
}

.card{
    border-radius: 20px;
    max-width: 800px;
    box-shadow: 4px 4px 8px #888888;
    background-color: white;
    border-color: #eeeeee;
    border-style: solid;
    border-width: 1px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.disclamer{
    background-color: rgb(255, 95, 95);
    position:fixed;
    width: 100%;
    margin-top: 60px;
    height: 20px;
    text-align: center;
}

a:link, a:visited{
    text-decoration: none;
    color: blue;
}

a:hover {
    color: darkblue;
    text-decoration: underline;
}

.num{
    width: 60px;
}

.equation{
    margin: auto;
    width: 90%;
    text-align: left;
}

.sub-content{
    text-align: left;
    width: 90%;
    margin: auto;
}

.anchor {
    position: absolute;
    transform: translateY(-30vh);
}

.anchor:target + div{
    animation: wobble 2s;
}

.home-link{
    width:100%;
    text-align: center;
}

.grey-out{
    display:none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}

.grey-out.active{
    display:block;
}

@keyframes wobble {
    0%{transform: scale(1.00);}
    50%{transform: scale(1.10);}
    100%{transform: scale(1.00);}
}



@media (max-width: 700px) {
    .content{
        margin-left: 10px;
        margin-right: 10px;
    }

    .topic-list{
        width:100%;
        left: -110%;
    }

}